{%load static%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"> </script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"> </script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
  $(document).ready(function () {
    $("#submit").click(function () {
      console.log("yeeeee");
      // disable button
      //$(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Memuat prediksi...`
      );
    });
  });
</script>
<script>
  Highcharts.setOptions({
    lang: {
      months: [
        'Januari', 'Februari', 'Maret', 'April',
        'Mei', 'Juni', 'Juli', 'Agustus',
        'September', 'Oktober', 'November', 'Desember'
      ],
      weekdays: [
        'Minggu', 'Senin', 'Selasa', 'Rabu',
        'Kamis', 'Jumat', 'Sabtu'
      ],
      shortMonths: ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Agu", "Sep", "Okt", "Nov", "Des"],
      downloadCSV: 'Unduh CSV',
      downloadJPEG: 'Unduh JPEG',
      downloadPDF: 'unduh PDF',
      downloadPNG: 'Unduh PNG',
      downloadSVG: 'Unduh SVG',
      downloadXLS: 'Unduh XLS',
      viewData: 'Lihat data tabel',
      viewFullscreen: 'Lihat layar penuh',
      printChart: 'Cetak Chart',
      hideData: 'Tutup data tabel'
    }
  });
</script>
<script>
  function drawGraph(data, id) {
    var _categories = data.map(function (e) {
      return e.ds;
    });
    var _values = data.map(function (e) {
      return e.y;
    });
    Highcharts.chart(id, {
      chart: {
        zoomType: 'x'
      },
      title: {
        text: `Grafik Data Historis Harga Komoditas {{commodity_name}}`
      },
      legend: {
        enabled: false
      },
      xAxis: {
        categories: _categories,
        crosshair: true,
        type: 'datetime',
        title: {
          text: 'Tanggal',
          style: {
            fontSize: '20px'
          }
        },
        labels: {
          format: '{value:%e %b %Y}',
          style: {
            fontSize: '16px'
          }
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Harga (Rp)',
          style: {
            fontSize: '20px'
          }
        },
        labels: {
          style: {
            fontSize: '16px'
          }
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:24px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:5px;font-size:20px">{series.name}: </td>' +
          '<td style="padding:5px;font-size:20px"><b>Rp.{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
        name: 'Harga',
        data: _values
      }],
    });
  }
</script>
<script>
  function drawRangeGraph(data, id) {
    var prediksi = data.map(function (e) {
      return [
        e.ds,
        e.yhat
      ]
    });
    var batas = data.map(function (e) {
      return [
        e.ds,
        e.yhat_lower,
        e.yhat_upper,
      ]
    });
    // var _categories = data.map(function (e) {
    //   return e.ds;
    // });
    Highcharts.chart(id, {

      chart: {
        zoomType: 'x'
      },

      title: {
        text: `Grafik Prediksi Harga Komoditas {{commodity_name}}`
      },

      legend: {
        enabled: false
      },

      xAxis: {
        //categories: _categories,
        crosshair: true,
        type: 'datetime',
        title: {
          text: 'Tanggal',
          style: {
            fontSize: '20px'
          }
        },
        labels: {
          format: '{value:%e %b %y}',
          style: {
            fontSize: '16px'
          }
        }
      },

      yAxis: {
        title: {
          text: 'Harga (Rp)',
          style: {
            fontSize: '20px'
          }
        },
        labels: {
          style: {
            fontSize: '16px'
          }
        }
      },

      tooltip: {
        crosshairs: true,
        shared: true,
        valuePrefix: 'Rp.',
        style: {
          fontSize: '20px'
        }
      },

      series: [{
        name: 'Prediksi',
        data: prediksi,
        zIndex: 999,
        marker: {
          fillColor: 'white',
          lineWidth: 2,
          lineColor: "#009D57"
        }
      },
      {
        name: 'Rentang Prediksi',
        data: batas,
        type: 'arearange',
        lineWidth: 0,
        linkedTo: ':previous',
        color: "#4CFFAE",
        fillOpacity: 0.3,
        zIndex: 888,
        marker: {
          enabled: false
        }
      }
      ]
    });
  }
</script>