{%load static%}
<div class="row" style="height: 100%">
  <table class="table">
    <thead>
      <tr>
        <th>DS</th>
        <th>Yhat</th>
        <th>Yhat Lower</th>
        <th>Yhat Upper</th>
      </tr>
    </thead>
    <tbody>
      {% if data %} {% for i in data %}
      <tr>
        <td>Rp.{{i.ds}},00</td>
        <td>Rp.{{i.yhat}},00</td>
        <td>Rp.{{i.yhat_lower}},00</td>
        <td>Rp.{{i.yhat_upper}},00</td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>
