{%load static%}
<div class="row" style="height: 100%">
  <table class="table">
    <thead>
      <tr>
        <th>Tanggal</th>
        <th>Nilai Prediksi</th>
        <th>Batas Bawah</th>
        <th>Batas Atas</th>
      </tr>
    </thead>
    <tbody>
      {% if prediksi_kuartal %} {% for i in prediksi_kuartal %}
      <tr>
        <td>{{i.ds}}</td>
        <td>Rp. {{i.yhat}},00</td>
        <td>Rp. {{i.yhat_lower}},00</td>
        <td>Rp. {{i.yhat_upper}},00</td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>