{% load static %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="chart-tab"
      data-bs-toggle="tab"
      data-bs-target="#chart"
      type="button"
      role="tab"
      aria-controls="chart"
      aria-selected="true"
    >
      Chart
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="table-tab"
      data-bs-toggle="tab"
      data-bs-target="#table"
      type="button"
      role="tab"
      aria-controls="table"
      aria-selected="false"
    >
      Table
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="akurasi-tab"
      data-bs-toggle="tab"
      data-bs-target="#akurasi"
      type="button"
      role="tab"
      aria-controls="akurasi"
      aria-selected="false"
    >
      Akurasi
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="raw-tab"
      data-bs-toggle="tab"
      data-bs-target="#raw"
      type="button"
      role="tab"
      aria-controls="raw"
      aria-selected="false"
    >
      Raw Data
    </button>
  </li>
</ul>
