<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Hello</title>
  </head>
  <body>
    <div class="container">
      <h1>Hasil prediksi komoditas {{commodity_name}}</h1>
      <div>MAPE : {{mape}}</div>
      <div>Akurasi : {{akurasi}}</div>
      {% comment %}
      <div>{{data}}</div>
      {% endcomment %}
      <div class="col">
        <div class="col-md-6" style="width: 100%; height: 100%">
          <canvas id="myChartline"></canvas>
        </div>
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>DS</th>
                <th>Yhat</th>
                <th>Yhat Lower</th>
                <th>Yhat Upper</th>
              </tr>
            </thead>
            <tbody>
              {% if data %} {% for i in data %}
              <tr>
                <td>{{i.ds}}</td>
                <td>{{i.yhat}}</td>
                <td>{{i.yhat_lower}}</td>
                <td>{{i.yhat_upper}}</td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        drawLineGraph({{yhat|safe}}, {{labels|safe}}, {{yhat_lower|safe}}, {{yhat_upper|safe}}, 'myChartline');

        function drawLineGraph(data, labels, yhat_lower, yhat_upper, id) {
        console.log(yhat_lower);
        var ctx = document.getElementById(id).getContext('2d');
        var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',
          // The data for our dataset
          data: {
            labels: labels,
            datasets: [{
              label: "Hasil Prediksi",
              backgroundColor: 'rgb(255, 100, 200)',
              borderColor: 'rgb(55, 99, 132)',
              fill: false,
              data: data,
            },
            {
              label: "yhat upper",
              data: yhat_upper,
              tension: 0.5
            },
            {
              label: "yhat lower",
              fill:false,
              data: yhat_lower,
            }]
          },
          // Configuration options go here
          options: {
            animations: {
              tension: {
                duration: 1000,
                easing: 'linear',
                from: 1,
                to: 0,
                loop: true
              }
            },
            scales: {
              xAxes: [{
                display: true,
              }],
              yAxes: [{
                ticks: {
                }
              }]
            }
          }
        });
      }
    </script>
  </body>
</html>
