<!DOCTYPE html>
<html lang="en">
{% load static %}
{%include "snippets/head.html"%}

<body>
  <main>
    <div class="container py-4">
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg fixed-top navbar-inverse shadow-sm" id="mainNav">
        <a class="navbar-brand fw-bold" href="/">
          <img src="{% static 'img/binoculars-fill.svg' %}" href="/" height="40" width="75" style="padding-left: 10px;">
          SILAHAP DI BANDUNG
        </a>
      </nav>
      <!-- Home Page -->
      <div class="container" style="margin-top: 80px;">
        <div class="p-5 mb-4 rounded-3" style="background-color: #EAFFF6;">
          <div class="container-fluid py-5">
            <h1 class="center">Selamat Datang di Web Aplikasi Prediksi Harga Pangan</h1>
            <div class="card">
              <div class="card-body">
                <form method='post'>
                  {% csrf_token %}
                  <h4>Pilih Komoditas</h4>
                  <div class="pilihkomoditas row center">
                    {{commodityForm.pilih_komoditas}}
                    <button class="btn btn-success" type="submit">Prediksi</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 rounded-3" style="background-color: #EAFFF6;">
              <div class="row" style="align-items: center;">
                <div class=" col">
                  <img src="{% static 'img/binoculars-fill.svg' %}" href="#prediksi" height="100" width="100">
                </div>
                <div class="col">
                  <h5>Ayo Ketahui Harga Prediksi Komoditas Pangan Di Kota Bandung</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 rounded-3" style="background-color: #EAFFF6;">
              <div class="row" style="align-items: center;">
                <div class="col">
                  <img src="{% static 'img/balance-scale-solid.svg' %}" href="#prediksi" height="100" width="100">
                </div>
                <div class="col">
                  <h5>Pedagang Paham,<br>Harga Stabil</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a style="margin-left: 48%; color: black; ;" href="#section-1" id="section-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chevron-down"
            href="#section1" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
          </svg>
        </a>
      </div>
      <!-- Silahap Section-->
      <section class="page-section text-black mb-0">
        <div class="container">
          <!-- Silahap Section Heading-->
          <h2 class="page-section-heading text-uppercase text-black" style="padding-left:40px; padding-top: 40px;">Apa
            itu
            SILAHAP?</h2>
          <!-- Icon Divider-->
          <span class="horizontal-line"></span>
          <!-- Silahap Section Content-->
          <div class="row">
            <div class="col-sm-4">
              <img src="{% static 'img/padi-removebg-preview.png' %}" href="#prediksi" height="300" width="310"
                style="margin-top: 20px; margin-bottom: 50px;">
            </div>
            <div class="col-sm-8" style="max-width: 50%; margin-top: 5%; margin-bottom: 125px;">
              <h4>SILAHAP merupakan aplikasi berbasis website yang dapat memprediksi harga 10 komoditas pangan
                utama yang ada di kota Bandung. Tujuannya untuk memberikan informasi kepada pedagang maupun masyarakat
                dalam
                memantau harga pangan agar pedagang dapat berperan dalam mengendalikan inflasi pangan di suatu daerah.
              </h4>
            </div>
          </div>
          <a style="margin-left: 48%; color: black; " href="#section-2" id="section-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-chevron-down" href="#section1" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
        </div>
      </section>
      <!-- Inflasi Section-->
      <section class="page-section text-black mb-0">
        <div class="container">
          <h2 class="page-section-heading text-uppercase text-black" style="padding-left:40px; padding-top: 100px;">
            Inflasi dan Deflasi</h2>
          <!-- Icon Divider-->
          <span class="horizontal-line"></span>
          <!-- inflasi Section Content-->
          <div class="row">
            <div class="col-sm-8" style="max-width: 50%; margin-top: 5%; margin-bottom: 190px;">
              <h4>Inflasi dapat diartikan sebagai kenaikan harga barang dan jasa secara umum dan terus menerus
                dalam jangka waktu tertentu. Deflasi merupakan kebalikan dari inflasi, yakni penurunan harga barang
                secara
                umum dan terus menerus.</h4>
            </div>
            <div class="col-sm-4">
              <img src="{% static 'img/inflasi.png' %}" href="#prediksi" height="250" width="375"
                style="margin-bottom: 50px;">
            </div>
          </div>
          <a style="margin-left: 48%; color: black; ;" href="#section-3" id="section-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-chevron-down" href="#section1" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
        </div>
      </section>
      <!-- Metode Section-->
      <section class="page-section text-black mb-0">
        <div class="container">
          <!-- Metode Section Heading-->
          <h2 class="page-section-heading text-uppercase text-black" style="padding-left:40px; padding-top: 150px;">
            Metode
            Prediksi</h2>
          <!-- Icon Divider-->
          <span class="horizontal-line"></span>
          <!-- Metode Section Content-->
          <div class="row">
            <div class="col-sm-4">
              <img src="{% static 'img/prophet.png' %}" href="#prediksi" height="300" width="310"
                style="margin-top: 80px;">
            </div>
            <div class="col-sm-8" style="max-width: 50%; margin-top: 7%; margin-bottom: 19px;">
              <h4>Menggunakan prediksi dengan menggunakan algoritma Prophet dengan memperhatikan 3 komponen
                utama, yaitu trend, seasonality, dan holidays. Metode ini sangat cocok digunakan untuk data yang
                bersifat
                timeseries dalam jangka waktu data yang panjang dengan menjanjikan akurasi prediksi yang cukup baik.
              </h4>
            </div>
          </div>
          <a style="margin-left: 48%; color: black; ;" href="#section-4" id="section-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-chevron-down" href="#section1" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
        </div>
      </section>
      <!-- Data Section-->
      <section class="page-section text-black mb-0">
        <div class="container">
          <!-- Metode Section Heading-->
          <h2 class="page-section-heading text-uppercase text-black" style="padding-left:40px; padding-top: 150px;">
            Sumber
            Data</h2>
          <!-- Icon Divider-->
          <span class="horizontal-line"></span>
          <!-- Metode Section Content-->
          <div class="row">
            <div class="col-sm-4 center">
              <img src="{% static 'img/silinda.png' %}" width="250" height="100" style="margin-top: 20px;">
            </div>
            <div class="col-sm-4 center">
              <img src="{% static 'img/dkpp.png' %}" width="250" height="100" style="margin-top: 20px;">
            </div>
          </div>
          <div class="row">
            <div class="col center">
              <img src="{% static 'img/indag.png' %}" width="250" height="100" style="margin-top: 20px;"
                class="img-fluid">
            </div>
          </div>
          <div class="row">
            <div class="col center">
              <img src="{% static 'img/dinastph.png' %}" width="400" height="300"
                style="margin-top: 20px; margin-bottom: 15%;" class="img-fluid">
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="text-muted py-5 nav-footer">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <div class="small">Copyright ©2021 KoTA-312</div>
      </div>
    </footer>
    {%include "snippets/scripts.html"%}
  </main>
</body>

</html>

<style type="text/css">
  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
  }

  .navbar-inverse {
    background-color: #009D57;
    font-size: 18px;
    height: 75px;
  }

  .navbar-brand {
    color: #FEC95F;
  }

  .navbar-brand:hover {
    color: #FEC95F;
  }

  .card {
    background-color: #FEC95F;
    border-radius: 15px;
  }

  .nav-footer {
    background-color: #343a40;
    text-align: center;
  }

  .pilihkomoditas {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  small,
  .small {
    font-size: 0.875em;
    color: #f5f5dc;
  }

  .vertical-line {
    display: inline-block;
    border-left: 5px solid black;
    margin: 0 10px;
    height: 100px;
    margin-left: 50%;
    /* top: 8px;
    right: 88px; */
    font-size: 18px;
  }

  .horizontal-line {
    display: inline-block;
    border-left: 285px solid green;
    margin: 0 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    font-size: 18px;
  }

  .page-section {
    min-height: 100%;
    background-image: url("{% static 'img/bgsilahap.png' %}");
    background-repeat: no-repeat;
  }

  .center {
    margin: auto;
    padding: 10px;
    text-align: center;
  }
</style>