{% load static %}
<!DOCTYPE html>
<html lang="en">
  {%include "snippets/head.html"%}
  <body>
    <div class="container">
      <h1>Selamat Datang di Aplikasi Prediksi Harga Pangan</h1>
      <form method="post">
        {% csrf_token %}
        <label for="select-komoditas" class="form-label">Pilih Komoditas</label>
        <select
          class="form-select"
          id="select-komoditas"
          name="id_foreign"
          aria-label="Default select"
        >
          {% if komoditas %} {% for i in komoditas %}
          <option id="select-komoditas" value="{{i.ID_FOREIGN_KOMODITAS}}">
            {{i.NAMA_KOMODITAS}} - {{i.ID_FOREIGN_KOMODITAS}}
          </option>
          {% endfor %} {% endif %}
        </select>
        <button
          class="btn btn-primary"
          type="submit"
          href="/prediksi/{{id_foreign}}"
        >
          Prediksi
        </button>
      </form>
      <h2>{{id_foreign}}</h2>
    </div>
    {%include "snippets/scripts.html"%}
  </body>
</html>
