{% load static %}
<!DOCTYPE html>
<html lang="en">
  {%include "snippets/head.html"%}
  <body>
    <div class="container">
      <h1>Selamat Datang di Aplikasi Prediksi Harga Pangan</h1>
      <select class="form-select" aria-label="Default select">
        {% if komoditas %} {% for i in komoditas %}
        <option value="{{i.ID_FOREIGN_KOMODITAS}}">
          {{i.NAMA_KOMODITAS}} - {{i.ID_FOREIGN_KOMODITAS}}
        </option>
        {% endfor %} {% endif %}
      </select>
      <a class="btn btn-primary" href="/prediksi" role="button"
        >Prediksi Harga</a
      >
    </div>
    {%include "snippets/scripts.html"%}
  </body>
</html>
